
.ion-row-resolved{
  background-color: #0054c2;
  border-radius: 25px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
}


  .header{
    background-color: #0054c2;
  }

  h1, p{
    color: black;
}

.title{
    text-align: center;
  }
.card-width{
  min-width: 200px;
}
.foot{
  position: fixed;
  text-align: center;
  bottom: 8%;
  left: 0;
  background-color: rgba(255, 165, 0, 0.3);
  padding: 5px;
}

h2{
  color: #0054c2;
}

.badge{
  color: white;
  font-size: auto;
  margin-top: 30%;
}

.avatar{
  background-color: #0054c2;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  width: 45px;
  height: 45px;
  border: 2px solid darkgray;
}
